.header{
    display: flex;
    justify-content: space-between;
    
}

.title{
    font-family: inter tight;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 30px black;
    padding: auto;
    color: black;
    cursor: default;
    margin-left: 30px;
}


.star{
    width: auto;
    height: 55px;
    margin-right: 30px;
    text-align: center;
    margin-top: 1px;
    font-size: 22px;
    padding: 15px;
    padding-top: 13px;
    margin-bottom: 10px;

    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    transition: height,font-size 0.35s;
}

.star:hover{
    width: auto;
    height: 60px;
    margin-right: 30px;
    text-align: center;
    margin-top: 1px;
    font-size: 25px;
    padding: 15px;
    padding-top: 13px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    
}

.star:active{
    width: auto;
    height: 60px;
    margin-right: 30px;
    text-align: center;
    margin-top: 1px;
    font-size: 25px;
    padding: 15px;
    padding-top: 13px;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;    
}

@media only screen and (max-width: 511px) {
    .title{
        font-family: inter tight;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 30px black;
        padding: auto;
        color: black;
        cursor: default;
        margin-top: 15px;
        margin-left: 8px;
    }

    
    .star{
        width: auto;
        height: 55px;
        margin-right: 8px;
        text-align: center;
        margin-top: 1px;
        font-size: 15px;
        padding: 15px;
        padding-top: 13px;
        margin-bottom: 10px;

        background-color: white;
        color: black;
        border: 2px solid black;
        border-radius: 10px;
        transition: height 0.35s ease,font-size 0.35s ease;
    }
    .star:hover,
    .star:active{
        width: auto;
        height: 55px;
        margin-right: 8px;
        text-align: center;
        margin-top: 1px;
        font-size: 17px;
        padding: 15px;
        padding-top: 13px;
        margin-bottom: 8px;

        background-color: white;
        color: black;
        border: 2px solid black;
        border-radius: 10px;
    }
    
}